# Optimize default text colors for terminals with a dark background
#DARK_BACKGROUND="no"

# Specify the default color scheme (DARK_BACKGROUND="yes" overrides these settings)
# Colors are specified using the ANSI escape color codes.
#LIST_COLOR="04;35"
#FLAG_COLOR="05;91"
#NEW_COLOR="01;96"
#COMPLETE_COLOR="01;92"
#INCOMPLETE_COLOR="01;93"

# Recipient to recieve mail (comma separated list)
# If commented it goes to user at localhost
#MAIL_RECIPIENT="user@localhost"

# Editor used for interactive modifications (ex. "gsd edit -m"
# If commented it will use "vim" if EDITOR is not set in environment
#EDITOR=nano

# Printer to use for "gsd print" or "gsd printlists"
# If commented it will use PRINTER environment setting
#PRINTER=myprinter
