# Adjust text colors based on terminal background
DARK_BACKGROUND="yes"
# Recipient to recieve mail (comma separated list; if commented it goes to user at localhost)
MAIL_RECIPIENT="user@localhost"
# Editor used for interactive modifications (ex. "gsd edit -m"; if commented it will use "vim")
EDITOR=nano
# Printer to use for "gsd print" or "gsd printlists"
PRINTER=myprinter
